BODY,tr,td{
	font-family:Verdana, Tahoma, Arial;
	FONT-SIZE: 9pt; 
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-TRACK-COLOR: #eeeeee; 
        position: absolute; 
        margin-left: auto!important;margin-left: 6px;
        margin-top: 0px!important;margin-top: 10px;
        margin-right: auto;
	margin-bottom: 0px;
	}
Body{background-color:#D6DFF7;}
a:link{text-decoration:none;color:#003399}
a:visited{text-decoration:none;color:#003399}
a:hover{text-decoration:none;color:#FF8040;}
input,select{
	BORDER-RIGHT: #AAAAAA 1px solid; BORDER-TOP: #AAAAAA 1px solid; FONT-SIZE: 9pt; BACKGROUND: #ffffff; BORDER-LEFT: #AAAAAA 1px solid; COLOR: #333333; BORDER-BOTTOM: #AAAAAA 1px solid; FONT-FAMILY: verdana;
}

textarea{
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; WIDTH: 98%; LINE-HEIGHT: normal; PADDING-TOP: 5px; border-width:1px;FONT-STYLE: normal;
}

.blue{color : blue;}
.red{color : red;}

.ta{width: 780px;BORDER: #6595d6 1px solid;}

.th{BACKGROUND-IMAGE: url(../images/admin_th_bg.gif);BORDER: #ffffff 1px solid;FONT-WEIGHT: bold;COLOR: white;} 

.th1{BACKGROUND-IMAGE: url(../images/admin_th_bg.gif); float: left;FONT-WEIGHT: bold;COLOR: white;} 

.td {   float: left;
	padding:4px;
	background-color:#f0f4f7;
} 

.td1 {  float: left;
	width: 312px;
        height: 19px;
        padding:4px;
	background-color:#f0f4f7;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
        display: block;
} 
.td2 {  float: left;
        padding:4px;
	width: 449px;
	height: 19px;
	background-color:#f0f4f7;
	border-left: 1px solid #FFFFFF;
        border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
        display: block;
} 
.td3 {   float: left;
	padding:4px;
	background-color:#f0f4f7;
	 border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
} 
.tf{BORDER: #ffffff 1px solid; padding:4px;background-color:#e7e7e7;}

.page {   float: left;
	padding:4px;
} 

.jz{
height: 2em;
line-height: 2em;
overflow: hidden;
text-align: center;
} 

.jz1{
height: 2em;
line-height: 2em;
overflow: hidden;
} 
.h20{height: 20px;}
.h22{height: 22px;}
.h30{height: 30px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h65{height: 60px;}
.h70{height: 70px;}
.h75{height: 75px;}
.h95{height: 95px;}
.h120{height: 120px;}
.h140{height: 140px;}

.w50{width: 50px;}
.w87{width: 87px;}
.w94{width: 94px;}
.w100{width: 100px;}
.w106{width: 106px;}
.w131{width: 131px;}
.w162{width: 163px;}
.w152{width: 152px;}
.w160{width: 160px;}
.w161{width: 162px;}
.w231{width: 231px;}
.w258{width: 258px;}
.w219{width: 219px;}
.w285{width: 288px;}
.w280{width: 290px;}
.w291{width: 291px;}
.w332{width: 332px;}
.w390{width: 390px;}
.w446{width: 446px;}
.w470{width: 470px;}
.w600{width: 579px;}
.w680{width: 662px;}
.w700{width: 686px;}
.w770{width: 770px;}
.w771{width: 771px;}
.w772{width: 772px;}
