.menuskin {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #eeeeee 1px solid;
	BORDER-LEFT: #eeeeee 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BACKGROUND-IMAGE: url(ShowMenu.Gif);
	FILTER: alpha(opacity=85)progid:DXImageTransform.Microsoft.Shadow(Color=#999999,Direction=120,strength=4);
	POSITION: absolute;
	VISIBILITY: hidden;
}
.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #698CC3;
}
#mouseoverstyle A:hover {COLOR:ffffff;TEXT-DECORATION: none}
.menuskin A {PADDING-RIGHT:10px;PADDING-LEFT:20px;}



/*标题*/
.title{
background:#BEBEBE;
padding:3px;
font-weight:bold;
border-bottom:#AAA solid 1px;
}

/*======Show.asp相关==============>>>*/
.smalltable{
margin:5px 0px;
border:#999999 1px solid;
background:#FFFFFF;
}
/*主题状态的小表格，如:精华等*/
.topicmood{ 
border:1px solid #F00;
padding:3px;
background:#FFF;
}
/*引用表格*/
.quote{
margin:5px 20px;
padding:5px;
background:#EEEEEF;
border:1px solid #CCC ;
}
/*评帖表格*/
.appraise{
border:1px solid #CCC;
background-color:#F5FAFC;
padding:5px;
margin:5px 20px;
}
/*屏蔽表格*/
.cover{
border:1px solid #CCC;
width:200px;
text-align:left;
background-color:#F5FAFC;
padding:5px;
}
/*======Show.asp相关结束====<<<*/
/*	全局定义　*/
A {
	COLOR: #669900; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(indexbg.gif); SCROLLBAR-ARROW-COLOR: #669900; SCROLLBAR-BASE-COLOR: #f8f8f8
}
TABLE {
	FONT: 12px Tahoma, Verdana; COLOR: #333333
}





.nav {
	FONT: bold 12px Tahoma, Verdana; COLOR: #333333
}
.nav A {
	COLOR: #333333
}
.header {
	BACKGROUND-IMAGE: url(headerbg.gif); FONT: bold 11px Tahoma, Verdana; COLOR: #000000; text-align:left
}
.header A {
	COLOR: #666666
}
.category {
	FONT: 11px Arial, Tahoma; COLOR: #333333; BACKGROUND-COLOR: #d3e9a8
}
.tableborder {
	BORDER-RIGHT: #669900 1px solid; BORDER-TOP: #669900 1px solid;  BORDER-LEFT: #669900 1px solid; BORDER-BOTTOM: #669900 1px solid
}
.singleborder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f8f8
}

.bold {
	FONT-WEIGHT: bold; text-align:left
}
.altbg1 {
	BACKGROUND: #FFFFFF
}
.altbg2 {
	BACKGROUND: #ffffff
}
.maintable {
	WIDTH: 98%; BACKGROUND-COLOR: #f7fccb
}
.dzmenu_popup {
	BORDER-RIGHT: #669900 1px solid; BORDER-TOP: #669900 1px solid; BACKGROUND: #f8f8f8; BORDER-LEFT: #669900 1px solid; WIDTH: 100px; BORDER-BOTTOM: #669900 1px solid
}
.dzmenu_option {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 3px; WIDTH: 100px; COLOR: #666666; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.dzmenu_select {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: #99cc00; PADDING-BOTTOM: 3px; WIDTH: 100px; CURSOR: pointer; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.historical_today {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
.eng {
	FONT-WEIGHT: bolder; FONT-SIZE: 25px; COLOR: #002250; LINE-HEIGHT: 35px; FONT-FAMILY: "Times New Roman", "Times", "serif"
}
.shikuang {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
.shikuang_1 {
	BORDER-RIGHT: #ffffff 5px solid; BORDER-TOP: #ffffff 5px solid; BORDER-LEFT: #ffffff 5px solid; BORDER-BOTTOM: #ffffff 5px solid
}
.shikuang_2 {
	BORDER-RIGHT: #99cc00 0px solid; BORDER-TOP: #99cc00 0px solid; BORDER-LEFT: #99cc00 0px solid; BORDER-BOTTOM: #99cc00 0px solid
}
.shikuang_jb {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
.font_sl {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-INDENT: 10px; FONT-FAMILY: Tahoma, Verdana
}
/* ====版规样式==== */
.rule{margin:10px;padding:10px;background:#f5f5f5;border:1px dotted #c8c8c8;}