body  {font-family: "ו";font-size:12px;}
A.qqa:link {COLOR:#181818; text-decoration: none}
A.qqa:visited {COLOR: #181818; text-decoration: none}
A.qqa:active {COLOR: #181818; text-decoration: none}
A.qqa:hover {COLOR: #FF0000; text-decoration: none}

A.qqb:link {COLOR: #181818; text-decoration: none}
A.qqb:visited {COLOR: #181818; text-decoration: none}
A.qqb:active {COLOR: #181818; text-decoration: none}
A.qqb:hover {COLOR:#FF0000; text-decoration: none}
