/*=======下拉菜单========>>>*/
.menuskin {
	BORDER-RIGHT: #999999 1px solid;
	BORDER-TOP: #eeeeee 1px solid;
	BORDER-LEFT: #eeeeee 1px solid;
	BORDER-BOTTOM: #999999 1px solid;
	BACKGROUND-IMAGE: url(ShowMenu.Gif);
	FILTER: alpha(opacity=85)progid:DXImageTransform.Microsoft.Shadow(Color=#999999,Direction=120,strength=4);
	POSITION: absolute;
	VISIBILITY: hidden;
}
.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	PADDING-TOP: 1px;
	BACKGROUND-COLOR: #698CC3;
}
#mouseoverstyle A:hover {COLOR:ffffff;TEXT-DECORATION: none}
.menuskin A {PADDING-RIGHT:10px;PADDING-LEFT:20px;}
/*==========下拉菜单结束=========<<<*/

/*标题*/
.title{
background:#BEBEBE;
padding:3px;
font-weight:bold;
border-bottom:#AAA solid 1px;
}

/*======Show.asp相关==============>>>*/

/*主题状态的小表格，如:精华等*/
.topicmood{ 
border:1px solid #F00;
padding:3px;
background:#FFF;
}
/*引用表格*/
.quote{
margin:5px 20px;
padding:5px;
background:#EEEEEF;
border:1px solid #CCC ;
}
/*评帖表格*/
.appraise{
border:1px solid #CCC;
background-color:#F5FAFC;
padding:5px;
margin:5px 20px;
}
/*屏蔽表格*/
.cover{
border:1px solid #CCC;
width:200px;
text-align:left;
background-color:#F5FAFC;
padding:5px;
}
/*======Show.asp相关结束====<<<*/
/*	全局定义　*/
body, td, div, p, input, textarea, select	{
	color:			#000000;
	font-family:	Verdana;
	font-size:		12px;
	line-height:	16px;
}
input, textarea, hr	{
	border:			1px #C9D2BB solid;
}
input, select, select	{	
	height:			18px;
}
body	{
	background:			#000000;
	margin:				0px;
	text-align:			left;
	SCROLLBAR-HIGHLIGHT-COLOR: buttonface;
	SCROLLBAR-SHADOW-COLOR: buttonface;
	SCROLLBAR-3DLIGHT-COLOR: buttonhighlight;
	SCROLLBAR-TRACK-COLOR: #eeeeee;
	SCROLLBAR-DARKSHADOW-COLOR: buttonshadow;
}
a	{
	color:			#000000;
	text-decoration:none;
}
a:hover	{
	color:			#000000;
	text-decoration:underline;
}

td	{
	border-color:	#e5e3e3;	/* 该项对firefox之类无效，对ie有效 */
}
form {
	margin:			0;
}
.grid	{
	border:			1px #e5e3e3 solid;
	border-collapse:collapse;
}
.nogrid	{
	border:			0px !important;
}
.fixed	{
	table-layout:	fixed;
	overflow:		hidden;
}
.smallbox	{
	height:			11px !important;
	height:			16px;
	border:			0px !important;
}
.cursor	{
	cursor:			hand;
}
.button	{
	font-family:	宋体;
	font-size:		12px;
	border-right:	1px #a9a9a9 solid;
	border-bottom:	1px #a9a9a9 solid;
	height:			18px;
	padding-top:	0px;
	padding-left:	2px;
	background:		buttonface;
}
.ubbButton	{
	font-family:	宋体;
	font-size:		12px;
	border-right:	1px #a9a9a9 solid;
	border-bottom:	1px #a9a9a9 solid;
	width:			19px;
	height:			18px;
	padding-top:	-2px;
	padding-left:	1px;
	background:		buttonface;
}
.th {
color: ffffff; BACKGROUND: #cbe582;
}
/*=============================
	以下内容为不同风格而设
	请一边修改一边查看效果
=============================*/

/*	[可选项]顶层外框，标记在page_header中	*/
#main	{
	width:			100%;
	background:		white;
}

/*	[必须项]弹出层	*/
#poplayer	{
	position:		absolute;
	z-index:		9;
	text-align:		left;
	border:			1px #333333 solid;
	padding:		1px 3px;
	background:		white;
	filter:			Alpha(Opacity=0);
}

/*	[必须项]特殊超连接，版面连接处  */
.link a	{
	color:			#464646;
	FONT-WEIGHT: bold;
	text-decoration:none;
}
.link a:hover	{
	color:			#464646;
	FONT-WEIGHT: bold;
	text-decoration:underline;
}

/*	[可选项]表格标题行超连接	*/
.titleanchor a	{
	color:			#000000;
	text-decoration:none;
}
.titleanchor a:hover	{
	color:			#000000;
	text-decoration:underline;
}

/*	[必须项]提示文本颜色  */
.t1	{
	color:			#ff6600;
}
/*	[必须项]醒目文本颜色  */
.t2	{
	color:			red;
}
/*	[必须项]灰调文本颜色  */
.t3	{
	color:			#gray;
}

/*	[可选项]在page_foot中底部文字属性	*/
.small	{
	font-family:	tahoma !important;
	font-size:		11px !important;
}

/*	[必须项]表格背景一，关键配色  */
.bg1	{
	background:		white;
}
/*	[必须项]表格背景二，关键配色  */
.bg2	{
}
/*	[必须项]与背景二相间的替换色，关键配色 */
.bg3	{
	background:		#F7F7F7;
}

/*	[必须项]内围主体内容表格，关键设置 */
.toptable	{
	width:			100%;
	background:		#Ffffff;
}

/*	[必须项]表格模块顶行下方的一行列名称栏，(不全有)，关键设置 */
.category	{
	height:			25px;
	padding-top:	0px;
	padding-bottom:	0px;
	background:		#F7F7F7;
}

/*	[必须项]topic.aspx中左边用户名称文字修饰  */
.male	{
	color:			#1E7BD9;
	background:		white;
	font-weight:	bold;
}
.female	{
	color:			#F57ACD;
	background:		white;
	font-weight:	bold;
}

/* ====版规样式==== */
.rule{margin:10px;padding:10px;background:#f5f5f5;border:1px dotted #c8c8c8;}