/*header*/
.n_htop{width:1003px;background:url(ni_01.gif);border-bottom:#C3C3C3 1px solid;height:23px;}
.n_hleft{width:400px;float:left;padding:2px 0 0 5px;text-align:left;}
.n_hright{width:590px;float:right;text-align:right}
.n_hrl{width:220px;float:right;padding:3px 10px 0px 0}
.n_hrll{float:right;padding:2px 6px 0 0;color:#777;}
.n_hrll a,.n_hrll a:visited{color:#777; text-decoration:none;}
.n_hrll a:hover{color:#777;text-decoration:underline;}
.n_hrll a:actived{color:#777; text-decoration:none;}
.n_hfontb{font-weight:bold;}

.n_hmid{width:1003px;height:77px;padding:5px 0}
.n_logo{float:left;width:180px;padding:0 0px 0 10px;text-align:left}
.n_lishi{float:left;padding:3px 0px 3px 30px;width:143px;border-left:#C3C3C3 1px solid;margin-top:5px}
.n_menu{float:left;width:635px;text-align:right;}
.n_menun{width:630px;text-align:left;margin-top:3px;color:#000;padding-left:5px}
.n_menun a,.n_menun a:visited{color:#000; text-decoration:none;}
.n_menun a:hover{color:#666; text-decoration:underline;}
.n_menun a:actived{color:#000; text-decoration:none;}
.n_menubg{background:#FFF0F8}
.n_menufont{color:#DB068C;}
.n_menufont a,.n_menufont a:visited{color:#DB068C; text-decoration:none;}
.n_menufont a:hover{color:#ffffff;text-decoration:underline;}
.n_menufont a:actived{color:#DB068C; text-decoration:none;}

.n_menufont1{color:#FF0000}
.n_menufont1 a,.n_menufont1 a:visited{color:#DB068C; text-decoration:none;}
.n_menufont1 a:hover{color:#DB068C;text-decoration:underline;}
.n_menufont1 a:actived{color:#DB068C; text-decoration:none;}


.n_seach{width:1003px;background:url(ni_seach_03.gif);height:58px;margin-bottom:20px;}
.n_seachlimg{width:7px;float:left;background:url(ni-seach_02.jpg);height:58px}
.n_seachmid{width:222px;float:left;text-align:left;padding:2px 0 0 8px}
.n_seachtop{float:left;}
.n_seachinput{background:url(ni_28.gif);height:16px;line-height:16px;border:#BABABA 1px solid}
.n_seachb{background:url(ni_seach_07.gif) no-repeat;height:17px;width:44px;font-weight:bold;font-size:14px;color:#000;padding-top:0px !important; padding-top:2px;cursor:pointer;text-align:center}
.n_seachtopw{float:left;padding:2px 0 0 0px;line-height:20px}
.n_seachhot{float:left;width:51px;padding-top:5px}
.n_seachbaidu{float:left;padding:0px 0 0 0 ;width:220px;text-align:left}
.n_seachtel{float:left;padding:7px 10px 0 0;font-weight:bold;}
.n_seachrimg{width:6px;float:right;background:url(ni_seach_05.jpg);height:58px}
.n_seachg{float:left;width:84px;padding:1px 0 0 0px;margin:1px 0 0 10px;line-height:20px}
.n_qq{float:left;padding:7px 0 0 8px}
.n_qqwz{float:left;padding:7px 0 0 5px}

/*
.n_seach{width:1003px;background:url(ni_20.gif);height:73px;margin-bottom:20px;}
.n_seachlimg{width:6px;float:left;background:url(ni_19.gif);height:73px}
.n_seachmid{width:980px;float:left;text-align:left;padding:6px 0 0 14px}
.n_seachtop{float:left;}
.n_seachinput{background:url(ni_28.gif);height:19px;line-height:18px;border:#BABABA 1px solid}
.n_seachb{background:url(ni_25.gif) no-repeat;height:22px;width:84px;font-weight:bold;font-size:14px;color:#000;padding-top:2px;cursor:pointer;text-align:center}
.n_seachtopw{float:left;padding:5px 0 0 30px}
.n_seachbaidu{float:left;padding:4px 0 0 0 ;width:250px;text-align:left}
.n_seachtel{float:left;padding:12px 10px 0 0;font-size:14px;font-weight:bold;}
.n_seachrimg{width:3px;float:right;background:url(ni_23.gif);height:73px}
.n_seachg{float:left;width:84px;padding:1px 0 0 0px;margin:1px 0 0 10px;}*/

.nl_seach{width:1003px;background:url(ni_header_03.gif);height:24px;margin-bottom:10px;}
.nl_seachleft{background:url(ni_header_02.gif);float:left;width:5px;height:24px;}
.nl_seachmid{float:left;width:330px;padding:2px 0 0 10px}
.nl_seachmidg{float:left;width:70px;padding:2px 0 0  0px}
.nl_seachb{background:url(ni_header_07.gif) no-repeat;height:18px;width:47px;padding-top:2px;cursor:pointer;text-align:center}
.nl_seachinput{background:url(ni_28.gif) bottom;height:16px;line-height:16px;border:#FF36AB 1px solid; margin-bottom:2px !important;margin-bottom:0px;}
.nl_seachhot{float:left;width:51px;padding-top:6px}
.nl_seachwz{float:left;width:537px;background:url(ni_header_05.gif) no-repeat right;padding-top:2px}

/*header*/

/*header933开始*/
.t_top{width:933px;background:url(ni_01.gif);border-bottom:#C3C3C3 1px solid;height:23px;}
.t_left{width:400px;float:left;padding:2px 0 0 5px;text-align:left}
.t_right{width:525px;float:left;text-align:right}
.t_hrl{width:140px;float:right;padding:3px 10px 0px 0}
.t_hrll{float:right;padding:2px 6px 0 0;color:#777;}
.t_hrll a,.t_hrll a:visited{color:#777; text-decoration:none;}
.t_hrll a:hover{color:#777;text-decoration:underline;}
.t_hrll a:actived{color:#777; text-decoration:none;}
.t_hmid{width:933px;height:77px;padding:5px 0}
.t_logo{float:left;width:150px;padding:0 0px 0 3px;text-align:left}
.t_lishi{float:left;padding:3px 0px 3px 16px;margin-top:5px;width:128px;}
.t_seach{width:933px;background:url(ni_seach_03.gif);height:58px;margin-bottom:10px}
.t_seachmid{width:300px;float:left;text-align:left;padding:3px 0 0 8px}
.t_menu{float:left;width:630px;text-align:right;}


/*header933结束*/


/*新头部*/
.topp_main{width:1003px;margin: 0 auto}
.topp_main1{width:1003px; float:left}
.topp_maina{width:1003px; float:left;}
.topp_maina933{width:933px; float:left;}
.topp_main933{width:933px;margin: 0 auto}

.topp_left{width:295px; float:left}
.topp_left933{width:245px; float:left}
.topp_l1{width:169px; float:left}
.topp_l1933{width:148px; float:left}
.topp_l2{width:126px; float:left}
.topp_l2933{width:147px; float:left}

.topp_right{width:708px; float:left}
.topp_right933{width:635px; float:left}
.topp_r1{width:300px; float:right}
.topp_ra{width:8px; float:left}
.topp_rabg{width:284px; float:left; height:28px; background-image:url(header1_10.jpg); background-repeat:repeat-x}
.topp_rabg1{width:274px; float:left; height:28px; background-image:url(header1_10.jpg); background-repeat:repeat-x}
.topp_bg{width:60px; float:left; height:17px; background-image:url(header1_15.jpg); background-repeat:no-repeat}
.topp_bg1{width:69px; float:left; height:17px; background-image:url(header1.jpg); background-repeat:no-repeat}



.topp_r2{width:355px; float:right}
.topp_r2jm{width:325px; float:right}

.topp_r2a{width:85px;float:left}
.topp_r2b{width:60px; float:left;margin-left:15px; margin-top:8px;}
.topp_r2b1{width:69px; float:left;margin-left:15px; margin-top:8px;}
.topp_r2bb{width:150px; float:left; margin-top:8px;}

.topp_t{ padding-top:25px;}
.topp_t1{ padding-top:10px;}
.topp_t2{ padding-top:16px;}
.topp_t3{ margin-top:6px;}

.topp_bgcolor{height:32px; height:27px; background-repeat:repeat-x;background-color:#FF67A0}
.topp_height{ height:27px; line-height:27px;}

.anniu_left{ width:72px; height:29px; float:left}
.anniu_left1{ width:72px; height:29px; margin-left:3px; float:left}

.ai_bg1{ background-image: url(header1_17.jpg); background-repeat:no-repeat; }
.ai_bg2{ background-image: url(header1_19.jpg);}

.dha{background-image: url(header1_19.jpg);height:29px; width:72px;}
.dh1a{background-image: url(header1_17.jpg); height:29px; width:72px;}

.lei_main{ width:614px; float:left; border:1px solid #C9C9C9; margin-left:34px;}
.lei_main1{ width:614px; float:left; border:1px solid #C9C9C9;}

.lei_m{ width:594px; float:left; margin-left:8px!important; margin-left:5px;}
.lei_border{ border-bottom:1px #C9C9C9 dashed; line-height:26px; float:left; height:26px;}
.lei_b{ width:53px; float:left; margin-right:12px; margin-top:5px;}
.lei_c{ width:522px; float:left}
.lei_cc{ width:76px; float:left; text-align:left}
.lei_ccc{ width:55px; float:left; text-align:left}

.lei_f{ text-align:left; padding-left:17px;}
.lei_f1{ color:#FFFFFF; line-height:16px; padding-bottom:10px;}
.lei_t{ padding-top:5px;}
.lei_bg{ width:53px; float:left; height:16px; background-image:url(bg_03.gif); background-repeat:no-repeat; color:#FFFFFF}

.sy_font4{font-size: 12px;color: #E50D06;font-family: 宋体; line-height:24px; text-align:left; background-image: url(header1_17.jpg); background-repeat:no-repeat}
.sy_font4 A:link {COLOR: #E50D06; TEXT-DECORATION: none}
.sy_font4 A:visited {COLOR: #E50D06; TEXT-DECORATION: none}
.sy_font4 A:active {COLOR: #E50D06; TEXT-DECORATION: none}
.sy_font4 A:hover {color:#E50D06; text-decoration:underline; background-image: url(header1_19.jpg); background-repeat:no-repeat}

.link_left{ width:300px; float:left}
.link_left933{ width:230px; float:left}
.link_right{ width:700px; float:left}
.link_right933{ width:630px; float:right}

.link_right933suoyin{ width:320px; float:right}


.link_rightsuoyin{ width:320px; float:right}
.link_rightfengxiong{ width:390px; float:right}
.link_rightzy{ width:600px; float:right}
.link_rightzy933{ width:460px; float:right}
.link_rightzd{ width:580px; float:right}
.link_rightzd933{ width:560px; float:right}
.link_rightpinpai{ width:580px; float:right}


.table11a{ display:none}


.n_menufont9z{color:#DB068C; text-align:center; line-height:29px;}
.n_menufont9z a,.n_menufont9z a:visited{color:#DB068C; text-decoration:none;}
.n_menufont9z a:hover{color:#DB068C;text-decoration:none;}
.n_menufont9z a:actived{color:#DB068C; text-decoration:none;}


.n_menufont9{color:#000000; text-align:center; line-height:29px;}
.n_menufont9 a,.n_menufont9 a:visited{color:#000000; text-decoration:none;}
.n_menufont9 a:hover{color:#ffffff;text-decoration:none;}
.n_menufont9 a:actived{color:#ffffff; text-decoration:none;}

.n_menufont9a{color:#ffffff; text-align:center; line-height:29px; font-weight:bold}
.n_menufont9a a,.n_menufont9a a:visited{color:#ffffff; text-decoration:none;}
.n_menufont9a a:hover{color:#ffffff;text-decoration:none;}
.n_menufont9a a:actived{color:#ffffff; text-decoration:none;}

.n_menufont9b{color:#ffffff; text-align:left; line-height:27px;}
.n_menufont9b a,.n_menufont9b a:visited{color:#ffffff; text-decoration:none;}
.n_menufont9b a:hover{color:#ffffff;text-decoration:underline;}
.n_menufont9b a:actived{color:#ffffff; text-decoration:none;}

.n_menufont9bb{color:#ffffff; text-align:left; line-height:27px; font-size:14px; font-weight:bold}
.n_menufont9bb a,.n_menufont9b a:visited{color:#ffffff; text-decoration:none;}
.n_menufont9bb a:hover{color:#ffffff;text-decoration:underline;}
.n_menufont9bb a:actived{color:#ffffff; text-decoration:none;}


.ggk{ text-align:left;margin-left:12px; line-height:17px;}
.ggk1{ text-align:left;margin-left:7px;line-height:17px;}
.ggk11{text-align:left;margin-left:5px;line-height:17px;}

.dd_left{ width:11px; float:left}
.dd_right{ width:981px; float:left}.dd_right933{ width:911px; float:left}
.dd_bg{ height:34px; background-image:url(s_03.gif); background-repeat:repeat-x}

.t2-1{OVERFLOW: hidden;  WIDTH: 100%; WHITE-SPACE: nowrap; text-align:center}
.t2-1 A:link { DISPLAY: block;  TEXT-DECORATION: none}
.t2-1 A:active { DISPLAY: block; tEXT-DECORATION: none}
.t2-1 A:visited{ DISPLAY: block; TEXT-DECORATION: none}
.t2-1 A:hover{DISPLAY: block; TEXT-DECORATION: none}
.t2-1 A:hover{BACKGROUND:url(header1_17.jpg) repeat-x; width:72px; height:29px; line-height:29px;COLOR: #ffffff}


.t2-11{OVERFLOW: hidden;  WIDTH: 100%; WHITE-SPACE: nowrap; text-align:center;BACKGROUND:url(header1_17.jpg) repeat-x;}
.t2-11 A:link { DISPLAY: block;  TEXT-DECORATION: none;background-image: url(header1_19.jpg);}
.t2-11 A:active { DISPLAY: block; tEXT-DECORATION: none;background-image: url(header1_19.jpg);height:29px; width:72px;}
.t2-11 A:visited{ DISPLAY: block; TEXT-DECORATION: none;background-image: url(header1_19.jpg);height:29px; width:72px;}
.t2-11 A:hover{DISPLAY: block; TEXT-DECORATION: none;background-image: url(header1_19.jpg);height:29px; width:72px;}
.t2-11 A:hover{BACKGROUND:url(header1_17.jpg) repeat-x; width:72px; height:29px; line-height:29px;COLOR: #ffffff}







#banner{width:798px; height:324px; background:url(b_bg2.jpg) repeat-x left bottom; margin-top:0px; margin-left:5px; float:left; display:inline; overflow:hidden;}.flash{width:791px; height:228px; padding-top:1px; background:url(dd.jpg); padding-right:7px; text-align:right;}.scroll1{width:581px; height:49px; background:url(man_b_scroll_bg.gif) repeat-x; margin-left:210px; overflow:hidden; margin-top:7px;}.scroll1 img{float:left;}#ADListRollContainer2{float:left; height:33px; width:545px; font:lighter 20px "宋体"; margin-top:8px; overflow:hidden;}#ADListRollContainer2 ul, #ADListRollContainer2 li{width:100%; height:100%;}#ADListRollContainer2 li div{line-height:33px; text-indent:5px; height:100%; width:100%; color:#007236;}#ADListRollContainer2 li div a{color:#007236;}

.midbanner{float:left; width:615px; height:179px; overflow:hidden; margin:0px 0 0 0px;}	.midbanner img{float:left;}
#ADListRollContainer, #ADListRollContainer1, #ADListRollContainer2, #ADListRollContainer3{overflow:hidden; width:100%; height:100%;}



/*主菜单样式设置start*/
.menu1 {height:29px;TEXT-DECORATION: none;}
.menu1 a {color:#000;}
.menu1 a:hover {TEXT-DECORATION: none;}
.menu1 ul li {list-style:none; float:left;text-align:center; width:72px; height:29px; line-height:29px; display:block; margin-left:3px;TEXT-DECORATION: none;}
.menu1 .nav_current {background:url(header1_17.jpg);color:#FFFFFF;TEXT-DECORATION: none;}
.menu1 .nav_current a {color:#fff;TEXT-DECORATION: none;}
.menu1 .nav_current a:hover { left:0px; top:0px;TEXT-DECORATION: none;}

.menu1 .nav_link {background:url(header1_19.jpg); background-color:#fdeca1;TEXT-DECORATION: none; }
.menu1 .nav_long {background:url(header1_19.jpg); width:72px;background-color:#fdeca1;color:#ffffff;TEXT-DECORATION: none;}
.menu1 .nav_onlong {background:url(header1_17.jpg); width:72px;background-color:#ff7e00;color:#ffffff;TEXT-DECORATION: none;}
.menu1 .nav_onlong a{color:#ffffff;TEXT-DECORATION: none;}
/*主菜单样式设置end*/
/*==================================*/
/*小类菜单样式设置start*/
.small_menu {}
.small_menu .nav_sub {width:700px; height:28px; float:right;}
.small_menu .nav_sub .undis {display:none;}
.small_menu .nav_sub .subli {display:none;}
.small_menu .nav_sub ul li {list-style:none; display:block; padding-left:12px; color:#fff;}
.small_menu .nav_sub .a_mid{text-align:center; padding-right:0px;}
.small_menu .nav_sub .a_mid_c{text-align:right; padding-right:0px;}
.small_menu .nav_sub #sub9 {text-align:right; padding-right:0px;}
.small_menu .nav_sub ul li a {color:#fff;}
/*小类菜单样式设置end*/
.small_menu1 {width:630px; color:#FFFFFF}
.small_menu1 .nav_sub1 {width:630px; height:28px; float:right;}
.small_menu1 .nav_sub1 .undis1 {display:none;}
.small_menu1 .nav_sub1 .subli1 {display:none;}
.small_menu1 .nav_sub1 ul li {list-style:none; display:block; padding-left:12px; color:#fff;}
.small_menu1 .nav_sub1 .a_mid1{text-align:center; padding-right:0px;}
.small_menu1 .nav_sub1 .a_mid_c1{text-align:right; padding-right:0px;}
.small_menu1 .nav_sub1 #sub9 {text-align:right; padding-right:0px;}
.small_menu1 .nav_sub1 ul li a {color:#fff;}