BODY{
FONT-SIZE: 12px;
FONT-FAMILY:  宋体;
background-color: #ffffff; 
scrollbar-face-color: #dbeedd;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: darkseagreen;
scrollbar-3dlight-color: #dbeedd;
scrollbar-arrow-color: darkseagreen;
scrollbar-track-color: #f3faf4;
scrollbar-darkshadow-color: #f3faf4;
}
TD{font-family: 宋体;
font-size: 12px;
line-height: 15px;
}
.tableBorder1{
width:590px;
border: 1px; 
background-color: #247624;
}
.tableBorder2{
width:500px;
border: 1px; 
background-color: #247624;
}
.tableBorder3{
width:470px;
border: 1px; 
background-color: #247624;
}
td.TableBody1{
background-color: #FBF4F4;
}
td.TableBody2{
background-color: #FBF4F4;
}
A:link
{
COLOR: blue;
TEXT-DECORATION: none
}
A:visited
{
COLOR: blue;
TEXT-DECORATION: none
}
A:active
{
COLOR: red;
TEXT-DECORATION: none
}
A:hover
{
COLOR: #999999;
TEXT-DECORATION: none
}
INPUT
{
FONT-SIZE: 9pt;
FONT-FAMILY: 宋体
}
TEXTAREA
{
FONT-SIZE: 9pt;
FONT-FAMILY: 宋体
}
SELECT
{
FONT-SIZE: 9pt;
FONT-FAMILY: 宋体
}

.Up
{border-left: 1Px solid rgb(12,12,12);
border-right: 1px solid rgb(12,12,12);
border-bottom: 1px solid rgb(12,12,12);
border-top: 1px solid rgb(12,12,12);
cursor:hand;
}
.Down
{border-right: 1Px solid rgb(233,244,249);
border-left: 1px solid rgb(12,12,12);
border-top: 1px solid rgb(12,12,12);
border-bottom: 1px solid rgb(233,244,249);
cursor:hand;
}
.None
{border-right: 1Px solid rgb(255,255,255);
border-left: 1px solid rgb(255,255,255);
border-top: 1px solid rgb(255,255,255);
border-bottom: 1px solid rgb(255,255,255);
cursor:hand;
}
td{font-size:9pt; line-height: 12pt; color=#000000}
A:active {color: #000000}
A:link,A:visited {color:#000000; text-decoration: none}
A:hover {color:#003399;text-decoration:underline}


.GDNetMenuDownMenu {
	position:absolute;
	overflow:hidden;
	left:-1000px;
	top:-1000px;
	}

.GDNetMenuDownMenu .content {
	position:absolute;
	}

.GDNetMenuDownMenu .items {
	position:relative;
	left:0px; top:0px;
	border:1px solid #999;
	z-index:2;
	}

.GDNetMenuDownMenu.top .items {
	border-top:none;
	}

.GDNetMenuDownMenu .item {
    color:#000000;
    font-size:9pt;
    text-decoration:none;
	border:none;
	cursor:pointer;
	cursor:hand;
	}

.GDNetMenuDownMenu .background {
	position:absolute;
	left:0px; top:0px;
	z-index:1;
	-moz-opacity:.8;
	filter:alpha(opacity=85);
	}


.GDNetMenuDownMenu .shadowRight {
	position:absolute;
	z-index:3;
	top:3px; width:2px;
	-moz-opacity:.4;
	filter:alpha(opacity=40);
	}


.GDNetMenuDownMenu .shadowBottom {
	position:absolute;
	z-index:1;
	left:3px; height:2px;
	-moz-opacity:.4;
	filter:alpha(opacity=40);
	}


.GDNetMenuDownMenu .item.hover {
	background:#DBDBDB;
		color:000000;
	}


.GDNetMenuDownMenu .item img {
	margin-left:10px;
	}
.box {
	border: 1px solid #333333;
}
.button {
	border: 1px solid #000000;
}
.box2 {
	border: 2px double #FFFFFF;
}
.table {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;


}
